.filter {
    
}
.input {
    display: flex;
}
.input__field {
    display: inline-block;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    line-height: 44px;
    color: #292929;
    display: block;
    position: relative;
    width: 100%;
    height: 44px;
    padding: 0 0 0 19px;
    border: 0;
    border-radius: 0;
}
.input__btn {
    width: 52px;
    height: 44px;
    border: none;
    background: #fff;
}