.sort {
    margin-top: 10px;
}

.dir-btn:before {
    content: '';
    font-size: 16px;
    display: inline-block;
    color: #000;
}
.dir-btn.up:before {
    content: 'по возрастанию';
}
.dir-btn.down:before {
    content: 'по убыванию';
}